@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: rgb(161, 100, 233);
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.btn{
    background-color: rebeccapurple;
    border-radius: 6px;
    border: none;
    color: #fff;
    padding: 1.5rem 3rem;
    font-family: inherit;
    font-size: 1.2rem;
    margin: 1rem;
    cursor: pointer;
}

.btn:hover{
    opacity: 0.9;
}

.btn:focus{
    outline: none;
}